.bigbrand{
  font-size: 1.5em;
}

.loader{
  filter:hue-rotate(0deg);
  color:linear-gradient(45deg,#0f8,#08f);
  animation: hue 1000ms infinite linear;
}

.centerstage{
  margin-left: auto;
  margin-right: auto;
}
.postdate{
  text-align: center;
}

.posttitle{
  font-family: 'MuseoModerno'
  font-size: 3em;
  text-align: center;
}

.postcontent{
  font-family: 'MuseoModerno'
  font-size: 1.5em;
}

.btn-comment{
  position: absolute;
  right:0px;
}








/* ---- particles.js config ---- */
:root {
  --size: 150px;
  --radius: calc(var(--size) * 20 / 100);
}

body {
  margin: 0;
  background: #e9e9f4;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: auto;
}

.image-card {
  width: var(--size);
  height: var(--size);
  border-radius: var(--radius);
  position: relative;
  background-size: cover;
  margin: calc(var(--size) * 20 / 100);
}
.image-card:before {
  content: "";
  position: absolute;
  width: 90%;
  height: 100%;
  background-image: inherit;
  background-size: cover;
  border-radius: var(--radius);
  z-index: -1;
  filter: blur(12px);
  opacity: 0.6;
  left: 50%;
  transform: translate(-50%, 10%);
}
